body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 12px;
  }
  .position--abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }