body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 12px;
}

.position--abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;

  @media screen and (min-width: 550px) {
    height: 100vh;
    overflow: hidden;
  }

  * {
    user-select: none;
    outline: none;
  }
}

.move-container {
  width: 100vw;

  @media screen and (min-width: 550px) {
    overflow: hidden;
    transform: scale(1.5);

    height: 0;
    padding-top: 60%;
  }

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .move-content {
    @media screen and (min-width: 550px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .plane {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    background: transparent;
    position: relative;

    @media screen and (max-width: 550px) {
      flex: 1;
      height: 100%;
    }

    &--content {
      background: white;
      background-size: cover;

      @media screen and (max-width: 550px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        height: 100%;
      }

      position: relative;

      //       &:nth-child(2n){

      //         background: #f9f9f9;
      //       }
    }
  }
}

// Grid demo

.grid {
  @media screen and (min-width: 550px) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
  height: 100%;
  width: 100%;

  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    @media screen and (min-width: 550px) {
      // padding: 40px;
    }
    box-sizing: border-box;
  }

  & > .cell {
    padding: 40px 40px 0;
    box-sizing: border-box;
    width: 100%;
    @media screen and (min-width: 550px) {
      height: 100%;
      padding-bottom: 40px;
    }
    @media screen and (max-width: 550px) {
      &:last-of-type {
        padding-bottom: 40px;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      @media screen and (min-width: 550px) {
        margin-top: 10px;
      }
    }

    &:nth-child(3) {
      @media screen and (min-width: 550px) {
        align-items: flex-end;
      }
    }

    &:nth-child(4) {
      @media screen and (min-width: 550px) {
        margin-top: -10px;
      }
    }

    &:nth-child(2),
    &:nth-child(5) {
      @media screen and (min-width: 550px) {
        margin-top: -40px;
      }
    }

    &:nth-child(5) {
      @media screen and (min-width: 550px) {
        align-items: flex-start;
      }
    }
  }
}
.block {
  display: inline-block;
  height: 0;
  padding-top: 69%;
  position: relative;
  width: 100%;

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    box-shadow: 0 0 0 #888;
    text-decoration: none;
    color: white;
    & > * {
      position: absolute;
      user-select: none;
      outline: none;
    }
    & > div {
      transition: all 200ms linear;
      display: flex;
      opacity: 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      z-index: 20;
      position: relative;
    }
